Client/Service References/CalculoService/Calculo3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Maplink.Calculo.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Maplink.Calculo.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55696/Calculo.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Maplink.Calculo.BE.Constantes" />
  <xs:complexType name="Calculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="tns:ArrayOfEndereco" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Maplink.Calculo.BE.Constantes" minOccurs="0" name="TipoRota" type="q1:ETipoRota" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Calculo" nillable="true" type="tns:Calculo" />
  <xs:complexType name="ArrayOfEndereco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Endereco" nillable="true" type="tns:Endereco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEndereco" nillable="true" type="tns:ArrayOfEndereco" />
  <xs:complexType name="Endereco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Endereco" nillable="true" type="tns:Endereco" />
  <xs:complexType name="Rota">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustoCombustivel" type="xs:double" />
      <xs:element minOccurs="0" name="CustoTotal" type="xs:double" />
      <xs:element minOccurs="0" name="DistanciaTotal" type="xs:double" />
      <xs:element minOccurs="0" name="TempoTotal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rota" nillable="true" type="tns:Rota" />
</xs:schema>